#LeftNav {
    border: none 8px white; 
    width: 500px;
    float: left;
    text-align: center;
    padding-bottom: 8px;}

 #Content {border: solid 8px rgb(114, 144, 209); 
    width: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 30px; }
    
   
    